* {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    color: #021E20;
    margin: 0;
    padding: 0;
    font-weight: 900;
    box-sizing: border-box;
    background-color: #E4E5EA;
}

/* Основной контейнер */
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}

/* Шапка */
.header{
    display: flex;
    color: #000;
    justify-content: space-between;
    align-items: center;
}

.header ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    margin-right: 36px;
    font-weight: 600;
    font-size: 16px;
    
}
/*Контейнер для текста и логитипа*/
.logo-container{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.logo-text{
    font-weight: 700;
    font-size: 65px;
    vertical-align: center;
    padding-left:34px;
    
}
